@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/topicos.css);
@import url(styles/contato.css);
@import url(styles/rodapé.css);



:root {
    --cor-de-fundo: #4EBFE9;
    --branco: #ffffff;
    --cinza: #bbb4b4;
    --azulzin: #4EBFE9;
    --azul: #413DE6; 
    --fonte-principal: "Poppins";
    font-family: 'Poppins', sans-serif;
    --fonte-secundario: "Josefin Sans"
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}


.gamezoneimg {
    width: 55px
}

.header-png {
    width: 100%;
}

.descricao_imagem-2 {
    width: 30%;
}

.descricao_imagem {
    width: 30%;
}


@media screen and (min-width: 1024px) {

    
  .header-png {
    width: 50%;
    margin: 0em 16em 0em;
  }


}



@media screen and (min-width: 1728px) {

    .header-png {    
    margin: 0em 33em 0em;
    width: 40%;
    }
}